# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
.pytest_cache
*.pytest_cache

# Virtual environment
venv/

# Other files and directories to ignore
*.log
*.db
*.sqlite

#Env Variable
config.py
.env