<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PolicyPulse</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('homepage') }}">Home</a>
        <a href="{{ url_for('get_legislations') }}">Legislations</a>
        <!-- Add more links as needed -->
    </div>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
